/* Taille globale du calendrier */
.react-calendar__tile {
    padding: 20px !important;
}

.react-calendar__tile abbr {
    font-weight: bold;
    font-size: 18px;
}

/* Conteneur du calendrier */
.calendar-container {
    width: 100%;
    max-width: 1000px; /* Largeur maximale */
    margin: auto;
    text-align: center;
}

/* Style général du calendrier */
.react-calendar {
    width: 100%;
    font-size: 1.1rem; /* Agrandit la police */
    position:relative;
    left:85%;
}

/* Dimensions des cases du calendrier */
.react-calendar__tile {
    height: 50px; /* Augmenter la hauteur des cases */
    position: relative;
}

/* Style des étiquettes de location */
.rental-tag {
    font-size: 18px; /* Augmenter la taille de la police */
    color: white;
    padding: 3px 15px; /* Augmenter le padding pour agrandir l'étiquette */
    border-radius: 10px; /* Arrondir les bords */
    text-align: center;
    display: inline-block;
    margin-top: -15px; /* Remonter l'étiquette pour un meilleur positionnement */
    
    width: auto;
    min-width: 2px; /* Largeur minimale pour l'étiquette */
    max-width: 10%; /* Largeur maximale pour l'étiquette */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 24px;
    left: 80%;
    transform: translateX(-5%);
}

