/* src/styles.css */
.container {
    padding: 20px;
  }
  
  
  .btn {
    padding: 10px;
    margin-top: 10px;
  }
  
  table {
    width: 100%;
  }
  
  table th, table td {
    padding: 10px;
    text-align: center;
  }
  
  button {
    cursor: pointer;
  }


.cardtotal{
  position: relative;
  left: 800px;
  top: -100px;
}
.continuer{
  position: relative;
  left: 50px;
}
.louer{
  position: relative;
  left: 60px;

}
.revenir-panier{
  position: relative;
  left: 0px;
}
