/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
  z-index: 1000;
  animation: fadeIn 0.3s ease-out;
}

/* Popup Content */
.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: slideIn 0.3s ease-out;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.close-btn:hover {
  transform: scale(1.2);
}

/* Profile Container */
.profile-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
  min-height: 180px; /* Hauteur minimale pour éviter que le conteneur ne devienne trop petit */
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
  margin-right: 20px;
}

/* Profile Info */
.profile-info {
  text-align: left;
}

.profile-info p {
  margin: 10px 0;
  font-size: 16px;
}

/* Style pour les champs de saisie dans le mode édition */
.profile-info input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
}

/* Style du bouton modifier */
.profile-buttons .btn {
  margin: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-buttons .btn:hover {
  background-color: #0056b3;
  color: white;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
